@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.key{
    width: 75px;
    height: 50px;
    border: 4px double black;
    box-shadow: 2px 2px 2px  rgba(42, 39, 39);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
    font-weight: bolder;
    font-size: x-large;
    padding: 3%;
    margin: 1%;
    border-radius: 15%;
    background-color: #D5D3D6;

}
#output-screen{
    width: 70vw;
    height: 90vh;
    margin: 2%;
    display: flex;
    border-radius: 10px;
    /* background-color: #76C0DB; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
}

#keypad{
    background-color: #fdfdfd;
    width:30vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad-row{
    
    display: flex;
    justify-content: left;
}

.welcome{
    width: 50%;
    height: 100%;
    background-color: #76C0DB;
    position:relative;
}

.card{
    width: 45%;
    height:33vh;
     border-radius: 10px; 
    /* background-color: bisque; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 0%;
}


/* //////////////////Card Component//////////// */
.wrapper{
    /* min-height: 30vh; */
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px 15px;
    /* background-color: #76C0DB; */
    background-image: url(./images/Screenshot\ 2023-08-02\ 100754.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 3%;
}

.card-form{
    max-width: 570px;
    margin: auto;
    width: 100%;
    /* background-color: #fdfdfd; */

    
}

.bank-name{
    color: white;
    font-weight: 500;
    position: relative;
    /* right: 1%; */
    top: -60px;
    left: 170px;
    font-family: 'Oswald', sans-serif;
}

.card-no{
    color: white;
    position: relative;
    left: 60px;
    top: -14px;
    /* font-family: 'Agdasima', sans-serif; */
    font-family: 'Oswald', sans-serif;
}

.card-holder-name{
    color: white;
    position: relative;
    left: 10px;
    top: 30px;
    width: 180px;
    height: 20px;
    /* background-color: #76C0DB; */
    overflow:hidden;
    font-size: small;
    font-family: 'Agdasima', sans-serif;

}

.OptionButton{
    background-color: #0E77BD;
    margin: 2% 0% 0% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px ;
    width: 200px;
    height: 50px;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.Error-box{
    /* color: red; */
    font-size: large;
    font-weight: 600;
    margin: 2%;
    /* background-color:orange; */
    background-color: red;
    color: white;
    height: fit-content;
    width: 64vw;
    text-align: center;
    padding: 1%;
}

.denominations{
    height: fit-content;
    /* width: 100%; */
    min-height: 100px;
    /* color: white; */
    /* background-color: #76C0DB; */
    margin: 2%;
    width: 64vw;
    margin-top: 2%;
    
}

.note{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    /* color: white; */
}

.notePic{
    width: 180px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 2% ;
    /* color: white; */
}

.counter button{
    width: 30px;
    background-color: #0E77BD;
    outline: none;
    border: none;
    height: 30px;
    color: white;
    
}

/* AmountInput.css */

.amount-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    /* background-color: #0E77BD; */
  }
  
  .amount-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;  
    border-radius: 5px;
  }
  

.counter-area{
    width: 40px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border:1px solid #0E77BD; */
}

button{
    border-radius: 5px;
}